@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
html, body {
    padding: 0;
    margin: 0;
} 
body{

	/*background-image: url('./Images/white_wall_hash.png');*/
	background-color: #fcfcfc;
	font-family:"Segoe UI", "Open Sans", Arial, Helvetica, sans-serif !important;
	font-size:24px;
}





.n_buttons{
	/*display:block;
	float: right;
	position:relative;
	
	font-family: Lato, Times ;
	font-size: 110%;*/
	float:right;
}
.c_text{
	/*font-family: "Open Sans", Arial, Helvetica, sans-serif !important;*/
	
	font-size: 60px;
	color: black;


}
.h_text{
	
	font-size: 70px;
	color: red;
	opacity: 0.8;
}
.logo_2{
	display:block;
	vertical-align: middle;
	height: 50%;

}
.logo_2>img{
	width: 40%;
	height: auto;
}

.contact{
	margin-top:0px;
}


@media (max-width:641px){
.show-logo{

	max-height: 20px;
	font-size:100%;
}
.c_text{
	font-size:75%;
	margin-bottom: 300px;
}
.h_text{
	font-size:200%;
	margin-bottom:10px;
}
.logo_2{
	margin bottom:50px;

}
#map {
	height:300px;
}

}

#map {
	margin-top:50px;
     height: 500px;
     width: 100%;
}